{% for student in site.data.students %}
  <section>
    <h3>
      <a name="{{ student.id }}" class="anchor" href="#{{ student.id }}"><span class="octicon octicon-link"></span></a>{{ student.name }}
    </h3>
    
    <p><em>{{ student.adjectives }}</em></p>
    <p><img src="images/{{ student.id }}.jpg"></p>
    <p><strong>What's your favourite movie?</strong></p>
    <p>{{ student.favourite_movie }}</p>
    
    <p><strong>If you could have dinner with one person, dead or alive, who would it be and why?</strong></p>
    <p>{{ student.favourite_person }}</p>
    
    <p><strong>What's one skill that you could teach everyone else in class?</strong></p>
    <p>{{ student.skill }}</p>
    
    <p><strong>What is the one thing about you that people would be surprised to learn?</strong></p>
    <p>{{ student.surprise }}</p>
  </section>
{% endfor %}